{% extends "base_site.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock %}  

{% block extrahead %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/admin/js/jqplot/excanvas.js"></script><![endif]-->
{% endblock %}

{% block title %}运行报告{% endblock %}
{% block content %}
	{% if user and user.is_active and user.userprofile.user_in_miner_group or user.username == '37040089' %}
		<div class="module">
			<h1>{% if user.is_staff %}<a href='/django/admin/common/minerfactory/' target="_new">矿池报告</a>{% else %}矿池报告{% endif %}</h1>
			<h3>矿池 汇总</h3>
			<div id="content">
			<table>
			  <tr><th>对方数据</th><th>我方数据(更新中)</th></tr><tr><td>
				<table>
					<tr><td>矿机实际挖到的block总数</td><td>{{ user.userprofile.sum_blocks_mined }}</td><td>对应的币数目</td><td> {{ user.userprofile.sum_coins_mined }} </td></tr>
					<tr><td>矿池支付的币总数目</td><td>{{ user.userprofile.sum_coins_payed }}</td><td>即将支付币数目</td><td> {{ user.userprofile.sum_coins_pending }}</td></tr>
					<tr><td>矿池128秒总算力</td><td>{{ user.userprofile.sum_factory_hash_128 }} Th/s</td></tr>
					<tr><td>矿池256秒总算力</td><td>{{ user.userprofile.sum_factory_hash_256 }} Th/s</td></tr>
					<tr><td>矿池22.5分钟总算力</td><td>{{ user.userprofile.sum_factory_hash_225 }} Th/s</td></tr>
					<tr><td>矿池3小时总算力</td><td>{{ user.userprofile.sum_factory_hash_300 }} Th/s</td></tr>
					<tr><td>矿池12小时总算力</td><td>{{ user.userprofile.sum_factory_hash_120 }} Th/s</td></tr>
				</table></td><td>
			  </td></tr>
			</table>
			</div>
				<!--
				<table>
					<tr><td>
						</td></tr>
						for jqplotid, jqplotscript in user.userprofile.gen_bad_workers_charts
						jqplotscript|safe
						endfor 
				</table>
				-->
		</div>
	{% endif %}
{% endblock %}
